/* ------------------ THEME BASE ------------------ */
:root {
  --light-bg: bisque;
  --dark-bg: #121212;

  --light-text: #000;
  --dark-text: #fff;

  --light-button-bg: #ffffff;
  --dark-button-bg: #333333;

  --light-card-bg: #fff;
  --dark-card-bg: #1e1e1e;
}

/* GLOBAL BODY APPLICATION */
body.light {
  background-color: var(--light-bg);
  color: var(--light-text);
  overflow-x: hidden;
}

body.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
  overflow-x: hidden;
}

/* ------------------ NAVBAR ------------------ */
body.light .navbar,
body.light .dropdown-menu {
  background-color: var(--light-bg);
  color: var(--light-text);
}

body.dark .navbar,
body.dark .dropdown-menu {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

body.light .navbar a,
body.light .dropdown-menu a,
body.light .dropdown-menu button {
  color: var(--light-text);
}

body.dark .navbar a,
body.dark .dropdown-menu a,
body.dark .dropdown-menu button {
  color: var(--dark-text);
}

body.light .dropdown-menu a:hover,
body.light .dropdown-menu button:hover {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

body.dark .dropdown-menu a:hover,
body.dark .dropdown-menu button:hover {
  background-color: var(--light-bg);
  color: var(--light-text);
}

body.dark .hamburger {
  box-shadow: 5px 5px 10px rgba(242, 239, 239, 0.4);
  background-color: var(--dark-button-bg);
}

body.light .hamburger {
  box-shadow: 5px 5px 10px rgba(11, 8, 8, 0.4);
  background-color: var(--light-button-bg);
}

body.light .hamburger:hover {
  box-shadow: 5px 5px 10px rgba(11, 8, 8, 2.8);
}

body.dark .hamburger:hover {
  box-shadow: 5px 5px 10px rgba(242, 239, 239, 2.8);
}

/* ------------------ LOGOBAR ------------------ */
body.light .logobar {
  background-color: var(--light-bg);
}

body.dark .logobar {
  background-color: var(--dark-bg);
}

/* ------------------ THEME SWITCHER ------------------ */
body.light .themebar-light {
  background-color: var(--light-card-bg);
}

body.dark .themebar-dark {
  background-color: var(--dark-card-bg);
}

body.light .themebar-light.active-scale {
  transform: scale(1.2);
}

body.dark .themebar-dark.active-scale {
  transform: scale(1.2);
}

body.dark .themebar {
  background-color: var(--dark-bg);
}

body.light .themebar {
  background-color: var(--light-bg);
}

/* ------------------ COMMON BUTTONS ------------------ */
button,
.contact-submit-button,
.about-contact-tab,
.project-img-content-btn,
.home-projects-button {
  transition: 0.3s;
}

body.light button,
body.light .project-img-content-btn,
body.light .about-contact-tab,
body.light .home-projects-button,
body.light .contact-submit-button {
  background-color: var(--light-button-bg);
  color: var(--light-text);
}

body.dark button,
body.dark .project-img-content-btn,
body.dark .about-contact-tab,
body.dark .home-projects-button,
body.dark .contact-submit-button {
  background-color: var(--dark-button-bg);
  color: var(--dark-text);
}

/* ------------------ CARDS / SECTIONS ------------------ */
body.light .home-container,
body.light .about-container,
body.light .project-container,
body.light .contact-container,
body.light .cvbuilder-container {
  background-color: var(--light-card-bg);
}

body.dark .home-container,
body.dark .about-container,
body.dark .project-container,
body.dark .contact-container,
body.dark .cvbuilder-container {
  background-color: var(--dark-card-bg);
}

/* ------------------ SHADOWS ------------------ */
body.dark .home-projects-button,
body.dark .about-contact-tab,
body.dark .skill-tab,
body.dark .contact-submit-button,
body.dark .contact-form,
body.dark .project-img-content-btn,
body.dark .navbar,
body.dark .navbar h4:hover,
body.dark .logobar,
body.dark .cvbuilder-link-btn:hover,
body.dark .dropdown-menu a,
body.dark .dropdown-menu button {
  box-shadow: 5px 5px 10px rgba(242, 239, 239, 0.4);
}

body.light .home-projects-button,
body.light .about-contact-tab,
body.light .skill-tab,
body.light .contact-submit-button,
body.light .contact-form,
body.light .project-img-content-btn,
body.light .navbar,
body.light .navbar h4:hover,
body.light .logobar,
body.light .cvbuilder-link-btn:hover,
body.light .dropdown-menu a,
body.light .dropdown-menu button {
  box-shadow: 5px 5px 10px rgba(11, 8, 8, 0.4);
}

body.light .footer-container {
  box-shadow: 0px -5px 10px rgba(11, 8, 8, 0.4);
}

body.dark .footer-container {
  box-shadow: 0px -5px 10px rgba(242, 239, 239, 0.4);
}
