html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    }




/*--------------------------------------------------theme-support----------------------------------------------*/
.navbar-light{
    background-color: bisque;
    color: black;
    }

.navbar-dark {
    background-color: darkgrey;
    color: white;
    }

.navbar-links-light{
    color: black;
    }
.navbar-links-dark{
    color: white;
    }   





.light-mode {
    background-color: white;
    color: black;
    }

/* Dark mode */
.dark-mode {
    background-color: grey;
    color: white;
    }

.button-light{
    background-color: bisque;
    color: black;
    }

.button-dark{
    background-color: grey;
    color: white
    }






/*--------------------------------------------- For small screens (mobile)-------------------------------- */
@media (max-width: 600px) {
         
.home-container {
    position: relative;
    width: 100%;
    
    margin-top: 18%;
    padding-bottom: 10%;
   
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

.home-head{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    }

.home-content{
    text-align: center;
    font-size: 1.1rem;
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    }

.home-projects-button {
    align-self: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    font-size: 1.3rem;
    padding: 10px 25px;
    border-radius: 15px;
    }

.home-projects-button:hover{
    cursor: pointer;
    transform:scale(1.2) ;
    transition: transform 0.3s ease-out;
    }

    /*-------------------------------------------about-section--------------------------------------------*/

    
.about-container{
    display: flex;
    flex-direction: column;
    
    padding-bottom: 10%;
    align-items: center;
    text-align: center;
    position: relative;
    
    width: 100%;
    
    gap: 30px;
    }

.about-header{
    width: 100%;
}


.about-header h2{
    font-size: 2.1rem;
    font-weight: bold;
    text-decoration: underline;
    }

.about-header p{
    font-size: 1.3rem;
    }

.about-content-skills{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 80%;
    }


.about-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    }

.about-content h4{
    font-size: 2rem;
    text-align: center;
   }
   
.about-content p {
    font-size: 1.1rem;
    text-align: center;
    }

.about-contact-tab{
    padding: 8px;
    border-radius:10px ;
    font-size: larger;
    box-shadow:  4px 4px 8px rgba(0, 0, 0, 0.3);;
    }

.about-contact-tab:hover{
    cursor: pointer;
    transition: transform 0.4s ease;
    transform: scale(1.05);
    }

.about-skills{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    }

.about-skills h4{
    font-size: 1.3rem;
    text-align: right;
    }

.skill-tab {
    width: 120px;
    border-radius: 10px;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
    
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    }

.skill-tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
   }


   /*----------------------------------------contact-section------------------------------------*/


   
.contact-container{
    position: relative;
    
    display: flex;
    
    padding-bottom: 10%;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-around;
    
    width: 100%;
    gap: 15px;
    align-items: center;
    align-self: center;
    }

.contact-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }


.contact-header{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    
    }

.contact-header-content{
    font-size: 1.3rem;
    text-align: center;
    }

.contact-submit-button{
    align-self: center;
 
    right: 20%;
    width: 50%;
    border-radius: 5px;
    height: 45px;
    font-size: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }      

.contact-submit-button:hover{
    cursor: pointer;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.4s ease-out;
    transform:scale(1.2);
    }

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    width: 100%;
    align-items: center;
    align-self: center;
    font-size: 1.7rem;
    padding-top: 10%;
    padding-bottom: 5%;
    margin-bottom: 20%;
    border-radius: 10px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.4) ;
    }


.contact-form-field{
    display: flex;
    flex-direction: column;
    width: 80%;
    }

.contact-form-input{
    height: 32px;
    border-radius: 5px;
    width: 100%;
    }

.contact-form-input-message{
    height: 140px;
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
    padding: 5px;
   resize: none;
    }


/*----------------------------------------projects-section--------------------------------------------*/


.project-container{

    position: relative;
    
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    }   

.project-wrapper{
    margin: 20px;
}
.project-header{
    text-align: center;
    width: 100%;
    }

.project-heading-content {
    font-size: 1.2rem;
    }

.project-heading{
    font-size: 2.1rem;
    }

.project-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
    }

.project-todo-app,.project-cvmaker-app{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    }



.project-img img{
    width:100%;
    border-radius: 5px;
   }

.project-img-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
    
    width: 99%;
    font-size: 1.3rem;
    text-align: center;
    }

.project-img-content h3{
    font-size: 2.1rem;
    }


.project-img-content-btn{
    text-decoration: none;
    font-size: 1.6rem;
    border-radius:5px ; 
    width: 70%;
    padding: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
    text-align: center;
    color: inherit;
    }

.project-img-content-btn:hover{ 
    cursor: pointer;
    transition: transform 0.3s ease-out;
    transform: scale(1.22);
    }

/*-----------------------------------------navbar-section--------------------------------------*/

.navbar {
    z-index: 5;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    }

.navbar a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    }

.navbar-right h4{
    padding: auto;
    }

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
    align-items: center;
    }

.navbar-left {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 70%;
    flex-direction: row;
    }
.navbar-left h2{
    margin-left: 10px;
    font-size: 1.1rem;
}

.profilePic{
    width: 20%;
    object-fit: contain;
    border-radius: 20px;
    }



.navbar-left img{
    border-radius: 20px;
    margin-left: 8px;
    margin-top: 8px;
    }

.navbar h4 {
    padding:12px 23px;
    border-radius: 10px;
    visibility: hidden;
    }

.navbar-right h4 a{
    color: inherit;
    }

.navbar h4:hover {
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.25);
    }

.hamburger {
    visibility: visible;
    display: block;
    min-width: 29%;
    height: 29%;
    margin: 15px 6px;
    
    padding: 12px;
}

.hamburger:hover{
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0.3, 0.3);
    border-radius: 10px;
}

.dropdown-menu{
    z-index: 999;
    display: none;
    position: absolute;
    top: 75px;
    right: 0;
   
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
}

.dropdown-menu.open{
    display: flex !important;  /* Override any hidden styles */
    flex-direction: column;
    opacity: 1;
    transform: translateY(0);
    
}
.dropdown-menu a {
    padding: 10px;
    
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    transition: 0.3s;
}

.dropdown-menu a:hover {
    background-color: #555;
}

.hamburger img{
    width: 100%;
    border-radius: 10px;
}

/*--------------------------------------------------logobar-section--------------------------------------*/


.logobar {
    z-index: 5;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    
    position: fixed;
    left: 10px;
    padding: 2px;
    bottom: 5%;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);

    }

.logobar-light{
    background-color: bisque;
    }

.logobar-dark{
    background-color: darkgrey;
    }

.logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 15%;
    }

.logo:hover{
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale(1.2)
    }

    /*------------------------------------------themebar-section-----------------------------------*/


    .themebar {
        z-index: 5;
        position: fixed;
        border-radius: 20px;
        right: 30%;
        left: 30%;
        
        
        bottom: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center ;
        margin-right: 0.5%;
    }

    .themebar-light  {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 45%;
        align-self: center;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        border-radius: 20px
        
    }
    
    .themebar-dark {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 45%;
        align-self: center;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        border-radius: 20px
    }
    
    
    .themebar img {
        width: 60%;
        align-self: center;
    }
    
    .themebar-light:hover {
        cursor: pointer;
        transition: transform 0.5s ease-in;
        transform: scale(1.2);
        background-color: white;
        border: 1px solid white;
    }
    
    .active-scale {
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
    }
    
    .themebar-dark:hover {
        cursor: pointer;
        transition: transform 0.5s ease-in;
        transform: scale(1.2);
        background-color: grey;
        border: 1px solid grey;
    }    


    /*----------------------------------------footer-section-------------------------------------*/


    
.footer-container {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 
   
    }

.footer-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
   justify-content: space-around;
   align-items: center;
   
   }

.footer-content-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.footer-content-left p {
    font-size:1rem;
    font-weight: bold;
    }

.footer-content-right{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }

.footer-right-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35%;
    }


.footer-logo img{
    object-fit: contain;
    width: 40px;
    }

.footer-footnote{
    margin-top: 8%;
    position: relative;
    bottom: 5px;
    border-top: 2px solid white;
    font-size: 1rem;
    margin-bottom: 18%;
    width: 100%;
    text-align: center;
    }

    /*-------------------------------------------project-tasknest-section--------------------------------------*/

    












































    .cvbuilder-link-btn:hover {
        cursor: pointer;
        transition: transform 0.4s ease-out;
        transform: scale(1.2);
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
        }
}

/*-------------------------------------------- For tablets----------------------------------------------------- */
@media (min-width: 601px) and (max-width: 1024px) {
  
       
.home-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 18%;
    padding-bottom: 10%;
    top:0;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

.home-head{
    text-align: center;
    font-size: 2.4rem;
    font-weight: bolder;
    }

.home-content{
    text-align: center;
    font-size: 1.4rem;
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    }

.home-projects-button {
    align-self: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    font-size: 1.7rem;
    padding: 10px 25px;
    border-radius: 15px
    }

.home-projects-button:hover{
    cursor: pointer;
    transform:scale(1.2) ;
    transition: transform 0.3s ease-out;
    }

    /*-------------------------------------------about-section--------------------------------------------*/

    
.about-container{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    align-items: center;
    text-align: center;
    position: relative;
    
    width: 78%;
    top:100%;
    gap: 30px;
    }

.about-header{
    width: 80%;
}


.about-header h2{
    font-size: 2.1rem;
    font-weight: bold;
    text-decoration: underline;
    }

.about-header p{
    font-size: 1.5rem;
    }

.about-content-skills{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 80%;
    }


.about-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    }

.about-content h4{
    font-size: 2.1rem;
    text-align: left;
   }
   
.about-content p {
    font-size: 1.3rem;
    text-align: left;
    }

.about-contact-tab{
    padding: 8px;
    border-radius:10px ;
    font-size: larger;
    box-shadow:  4px 4px 8px rgba(0, 0, 0, 0.3);;
    }

.about-contact-tab:hover{
    cursor: pointer;
    transition: transform 0.4s ease;
    transform: scale(1.05);
    }

.about-skills{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    }

.about-skills h4{
    font-size: 1.4rem;
    text-align: right;
    }

.skill-tab {
    width: 130px;
    border-radius: 10px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    }

.skill-tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    text-align: center;
   }


   /*----------------------------------------contact-section------------------------------------*/


   
.contact-container{
    position: relative;
    
    display: flex;
    margin-left:17% ;
    margin-right:17% ;
    padding-bottom: 10%;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-around;
    
    width: 65%;
    gap: 20px;
    align-items: center;
    align-self: center;
    }

.contact-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }


.contact-header{
    font-size: 2.1rem;
    font-weight: bold;
    text-decoration: underline;
    
    }

.contact-header-content{
    font-size: 1.4rem;
    text-align: center;
    }

.contact-submit-button{
    align-self: center;
 
    right: 20%;
    width: 50%;
    border-radius: 5px;
    height: 45px;
    font-size: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }      

.contact-submit-button:hover{
    cursor: pointer;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.4s ease-out;
    transform:scale(1.2);
    }

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    width: 100%;
    align-items: center;
    font-size: 1.6rem;
    padding-top: 10%;
    padding-bottom: 5%;
    margin-bottom: 20%;
    border-radius: 10px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.4) ;
    }


.contact-form-field{
    display: flex;
    flex-direction: column;
    width: 80%;
    }

.contact-form-input{
    height: 32px;
    border-radius: 5px;
    width: 100%;
    }

.contact-form-input-message{
    height: 140px;
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
    padding: 5px;
   resize: none;
    }


/*----------------------------------------projects-section--------------------------------------------*/


.project-container{

    position: relative;
    
    
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    }   


.project-header{
    text-align: center;
    width: 75%;
    }

.project-heading-content {
    font-size: 1.4rem;
    }

.project-heading{
    font-size: 2.1rem;
    }

.project-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    }

.project-todo-app, .project-cvmaker-app{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    }

.project-img img{
    width:100%;
    border-radius: 5px;
   }

.project-img-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
    
    width: 65%;
    font-size: 1.4rem;
    text-align: center;
    }

.project-img-content h3{
    font-size: 2.1rem;
    }


.project-img-content-btn{
    text-decoration: none;
    font-size: 1.7rem;
    border-radius:5px ; 
    width: 70%;
    padding: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
    text-align: center;
    color: inherit;
    }

.project-img-content-btn:hover{ 
    cursor: pointer;
    transition: transform 0.3s ease-out;
    transform: scale(1.22);
    }

/*-----------------------------------------navbar-section--------------------------------------*/

.navbar {
    z-index: 5;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    }

.navbar a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    }

.navbar-right h4{
    padding: auto;
    }

.navbar-right {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    align-items: center;
    }

.navbar-left {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    flex-direction: row;
    }
.navbar-left h2{
    margin-left: 10px;
}

.profilePic{
    width: 22%;
    object-fit: contain;
    border-radius: 20px;
    }



.navbar-left img{
    border-radius: 20px;
    margin-left: 8px;
    margin-top: 8px;
    }

.navbar h4 {
    padding:12px 23px;
    border-radius: 10px;
    visibility: hidden;
    }

.navbar-right h4 a{
    color: inherit;
    }

.dropdown-menu{
   
    display: none;
    position: absolute;
    top:90px;
    right: 0;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    }
.navbar h4:hover {
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.25);
    }

    .hamburger {
        visibility: visible;
        display: block;
        min-width: 15%;
        
        margin: 8px;
        padding: 7px;
    }
    
    .hamburger:hover{
        cursor: pointer;
        box-shadow: 4px 4px 8px rgba(0, 0, 0.3, 0.3);
        border-radius: 10px;
    }
    
 
    
    .dropdown-menu.open{
        display: flex;
    }
    .dropdown-menu a {
        padding: 10px;
        text-decoration: none;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
        font-size: 1.7rem;
        transition: 0.3s;
    }
    

    .dropdown-menu a:hover {
        background-color: #555;
    }
    
    .hamburger img{
        width: 100%;
        border-radius: 10px;
    }

/*--------------------------------------------------logobar-section--------------------------------------*/


.logobar {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 8%;
    position: fixed;
    left: 10px;
    top: 30%;
    bottom: 20%;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);

    }

.logobar-light{
    background-color: bisque;
    }

.logobar-dark{
    background-color: darkgrey;
    }

.logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 15%;
    }

.logo:hover{
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale(1.2)
    }

    /*------------------------------------------themebar-section-----------------------------------*/


    .themebar {
        z-index: 5;
        position: fixed;
        border-radius: 20px;
        right: 10px;
        width: 8%;
        top:39%;
        bottom: 39%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center ;
        margin-right: 0.5%;
    }

    .themebar-light  {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 45%;
        align-self: center;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        border-radius: 20px
        
    }
    
    .themebar-dark {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 45%;
        align-self: center;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        border-radius: 20px
    }
    
    
    .themebar img {
        width: 60%;
        align-self: center;
    }
    
    .themebar-light:hover {
        cursor: pointer;
        transition: transform 0.5s ease-in;
        transform: scale(1.2);
        background-color: white;
        border: 1px solid white;
    }
    
    .active-scale {
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
    }
    
    .themebar-dark:hover {
        cursor: pointer;
        transition: transform 0.5s ease-in;
        transform: scale(1.2);
        background-color: grey;
        border: 1px solid grey;
    }    


    /*----------------------------------------footer-section-------------------------------------*/


    
.footer-container {
    position: relative;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    left: 0;
    }

.footer-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
   justify-content: center;
   align-items: center;
   }

.footer-content-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content-left p {
    font-size:1.5rem;
    }

.footer-content-right{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }

.footer-right-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35%;
    }


.footer-logo img{
    object-fit: contain;
    width: 40px;
    }

.footer-footnote{
    margin-top: 8%;
    position: relative;
    bottom: 5px;
    border-top: 2px solid white;
    font-size: 1.3rem;
    }

   

    


}

/*------------------------------------ For larger screens (desktops) -------------------------------------------*/
@media (min-width: 1025px) {
   

    /*----------------------------------------Home-section------------------------------------*/
    
.home-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 18%;
    padding-bottom: 10%;
    top:0;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

.home-head{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    }

.home-content{
    text-align: center;
    font-size: 1.7rem;
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    }

.home-projects-button {
    align-self: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    padding: 10px 25px;
    border-radius: 15px
    }

.home-projects-button:hover{
    cursor: pointer;
    transform:scale(1.2) ;
    transition: transform 0.3s ease-out;
    }

    /*-------------------------------------------about-section--------------------------------------------*/

    
.about-container{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    align-items: center;
    text-align: center;
    position: relative;
    min-height: 100%;
    width: 78%;
    top:100%;
    gap: 30px;
    }




.about-header h2{
    font-size: 2.2rem;
    font-weight: bold;
    text-decoration: underline;
    }

.about-header p{
    font-size: 1.4rem;
    }

.about-content-skills{
    display: flex;
    justify-content:center;
    }


.about-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    }

.about-content h4{
    font-size: 1.7rem;
    text-align: left;
   }
   
.about-content p {
    font-size: 1.3rem;
    text-align: left;
    }

.about-contact-tab{
    padding: 8px;
    border-radius:10px ;
    font-size: larger;
    box-shadow:  4px 4px 8px rgba(0, 0, 0, 0.3);;
    }

.about-contact-tab:hover{
    cursor: pointer;
    transition: transform 0.4s ease;
    transform: scale(1.05);
    }

.about-skills{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 38%;
    }

.about-skills h4{
    font-size: 1.7rem;
    text-align: right;
    }

.skill-tab {
    width: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    }

.skill-tabs{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 17px;
    text-align: center;
   }


   /*----------------------------------------contact-section------------------------------------*/


   
.contact-container{
    position: relative;
    
    display: flex;
    margin-left: 20%;
    padding-bottom: 10%;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-around;
    
    width: 60%;
    gap: 20px;
    align-items: center;
    align-self: center;
    }

.contact-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }


.contact-header{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    }

.contact-header-content{
    font-size: 1.2rem;
    }

.contact-submit-button{
    align-self: center;
 
    right: 20%;
    width: 50%;
    border-radius: 5px;
    height: 45px;
    font-size: 1.2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }      

.contact-submit-button:hover{
    cursor: pointer;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.4s ease-out;
    transform:scale(1.2);
    }

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    width: 100%;
    align-items: center;
    font-size: 2rem;
    padding-top: 10%;
    padding-bottom: 5%;
    margin-bottom: 20%;
    border-radius: 10px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.4) ;
    }


.contact-form-field{
    display: flex;
    flex-direction: column;
    width: 80%;
    }

.contact-form-input{
    height: 32px;
    border-radius: 5px;
    width: 100%;
    }

.contact-form-input-message{
    height: 140px;
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
    padding: 5px;
   resize: none;
    }


/*----------------------------------------projects-section--------------------------------------------*/


.project-container{

    position: relative;
    
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    }   


.project-header{
    text-align: center;
    
    }

.project-heading-content {
    font-size: 1.3rem;
    }

.project-heading{
    font-size: 2.5rem;
    }

.project-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    
    }

.project-todo-app, .project-cvmaker-app{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    }

.project-img img{
    width:90%;
    border-radius: 5px;
   }

.project-img-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 65%;
    font-size: 1.4rem;
    }

.project-img-content h3{
    font-size: 2.4rem;
    }


.project-img-content-btn{
    text-decoration: none;
    font-size: 2rem;
    border-radius:5px ; 
    width: 70%;
    padding: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
    text-align: center;
    color: inherit;
    }

.project-img-content-btn:hover{ 
    cursor: pointer;
    transition: transform 0.3s ease-out;
    transform: scale(1.22);
    }

/*-----------------------------------------navbar-section--------------------------------------*/

.navbar {
    z-index: 5;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12%;
    align-items: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    }

.navbar a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    }

.navbar-right h4{
 padding: auto;
    }

    .dropdown-menu{
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
       
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    }

.navbar-left {
    display: flex;
    justify-content: space-around;
    width: 30%;
    flex-direction: row;
    }

.profilePic{
    width: 20%;
    object-fit: contain;
    border-radius: 50px;
    }



.navbar-left img{
    border-radius: 50px
    }

.navbar h4 {
    padding:12px 23px;
    border-radius: 10px
    }

.navbar-right h4 a{
    color: inherit;
    }

.navbar h4:hover {
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.25);
    }

/*--------------------------------------------------logobar-section--------------------------------------*/


.logobar {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 5%;
    position: fixed;
    left: 10px;
    top: 30%;
    bottom: 20%;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    }

.logobar-light{
    background-color: bisque;
    }

.logobar-dark{
    background-color: darkgrey;
    }

.logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 15%;
    }

.logo:hover{
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale(1.2)
    }

    /*------------------------------------------themebar-section-----------------------------------*/


    .themebar {
        z-index: 5;
        position: fixed;
        border-radius: 20px;
        right: 10px;
        width: 5%;
        top:39%;
        bottom: 39%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center ;
        margin-right: 0.5%;
    }

    .themebar-light  {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 45%;
        align-self: center;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        border-radius: 20px
        
    }
    
    .themebar-dark {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 45%;
        align-self: center;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        border-radius: 20px
    }
    
    
    .themebar img {
        width: 60%;
        align-self: center;
    }
    
    .themebar-light:hover {
        cursor: pointer;
        transition: transform 0.5s ease-in;
        transform: scale(1.2);
        background-color: white;
        border: 1px solid white;
    }
    
    .active-scale {
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
    }
    
    .themebar-dark:hover {
        cursor: pointer;
        transition: transform 0.5s ease-in;
        transform: scale(1.2);
        background-color: grey;
        border: 1px solid grey;
    }    


    /*----------------------------------------footer-section-------------------------------------*/


    
.footer-container {
    position: relative;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    left: 0;
    }

.footer-content{
    display: flex;
    width: 80%;
    height: 90%;
   justify-content: space-between;
   }

.footer-content-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    }

.footer-content-left p {
    font-size:1.1rem;
    }

.footer-content-right{
    width: 25%;
    }

.footer-right-logos{
    display: flex;
    justify-content: space-between;
    gap: 10%;
    }


.footer-logo img{
    object-fit: contain;
    width: 40px;
    }

.footer-footnote{
    position: absolute;
    bottom: 5px;
    border-top: 2px solid white;
    font-size: 1.1rem;
    }

    /*-------------------------------------------project-tasknest-section--------------------------------------*/

    



































.cvbuilder-link-btn:hover {
    cursor: pointer;
    transition: transform 0.4s ease-out;
    transform: scale(1.2);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
    }

.hamburger{
    display:none ;
}

}